#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color:rgb(29, 29, 29);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display:flex;
  flex-direction: column;
}

.card label{
  font-size: 32px;
  margin-bottom: 16px;

}

.card input{
  background-color:white;
  color:black;
  font-size: 20px;
  padding:6px;
  margin-bottom: 16px;
  border-radius: 8px;
}

